@import "../../assets/scss/variables";

.titleTodoList {
  font-size: $fontsize;
  color: $white;
}
@media (max-width: 600px) {
  //mobile
  .titleTodoList {
    margin-top: 20%;
    font-size: $fontsize;
    color: $white;
  }
}
