@import "../../assets/scss/variables.scss";

.todoListContainer {
  margin-top: 2%;
  box-shadow: 0px 4px 17px 3px rgba(250, 248, 248, 0.43);
  .itemList {
    background-color: $darkGray;
    border-bottom: 1px solid $white;
    &.tachado {
      text-decoration: line-through;
      background-color: $darkGray;
      border-bottom: 1px solid $white;
      color: rgb(255, 51, 0);
    }
    .itemsContainer {
      display: flex;
      justify-items: center;
      align-items: baseline;
      .item {
        display: flex;
        align-items: stretch;
        .nameItem {
          width: 300px;
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: 18px;
          color: $white;
          margin-left: 6px;
        }
      }
      .contenedorButton {
        margin-bottom: 20px;
        display: flex;
        margin-left: 2px;
        .buttonItem {
          margin: 2px;
          background-color: $darkGray;
          width: 36px;
          height: 36px;
          border: none;
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .contenedorEdit {
      background-color: $lightGray;
      border: none;
      .inputEdit {
        height: 34px;
        width: 300px;
        padding: 2px;
        font-family: $georgiaFont;
        font-size: 20px;
        background-color: $lightGray;
        color: $white;
        border: $darkGray;
        margin-left: 3px;
        &:focus {
          outline-width: 0;
        }
      }
      .buttonEdit {
        padding: 8px;
        width: 131px;
        border: none;
        font-family: $georgiaFont;
        font-size: $fontsize;
        background-color: $lightGray;
        color: $white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: 600px) {
    margin-top: 4%;
    .itemList {
      border-bottom: 1px solid $white;
      .itemsContainer {
        .item {
          display: contents;
          .nameItem {
            width: 210px;
          }
        }
        .contenedorButton {
          margin-left: 2px;
        }
      }
      .contenedorEdit {
        .inputEdit {
          width: 210px;
          padding: 6px;
          border: none;
          font-size: $fontsize;
        }
        .buttonEdit {
          padding: 12px;
        }
      }
    }
  }
}
