@import "../../assets/scss/variables";

.newTodoItem {
  .inputNew {
    height: 33px;
    width: 300px;
    padding: 2px;
    font-size: 20px;
    background-color: $darkGray;
    color: $white;
    border: $darkGray;
    &:focus {
      outline-width: 0;
    }
  }
  .buttonNew {
    padding: 2px;
    width: 130px;
    height: 37px;
    border: none;
    font-size: $fontsize;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: $darkGray;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
}
@media (max-width: 600px) {
  //mobile
  .newTodoItem {
    background-color: $darkGray;
    padding: 4px;
    .inputNew {
      height: 34px;
      width: 200px;
      padding: 2px;
      font-size: $fontsize;
      background-color: $darkGray;
      color: $white;
      border: $darkGray;
      margin-left: 2px;
      &:focus {
        outline-width: 0;
      }
    }
    .buttonNew {
      padding: 12px;
      border: none;
      font-size: $fontsize;
      background-color: $darkGray;
      color: $white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
