@import "../../assets/scss/variables";

.newTodoItem {
  background-color: $darkGray;
  .inputNew {
    height: 34px;
    width: 300px;
    padding: 2px;
    font-size: $fontsize;
    background-color: $darkGray;
    color: $white;
    border: $darkGray;
    &:focus {
      outline-width: 0;
    }
  }
  .buttonNew {
    padding: 8px;
    border: none;
    font-size: $fontsize;
    font-family: $georgiaFont;
    background-color: $darkGray;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
  @media (max-width: 600px) {
    padding: 4px;
    .inputNew {
      width: 200px;
      margin-left: 2px;
    }
    .buttonNew {
      padding: 12px;
    }
  }
}
