
@media only screen and (max-width: 600px) {
    //mobile
    .contenedorApp{
        width: auto;
        
    }
  }
  @media only screen and (min-width: 600px) {
      //des
    .contenedorApp{
        width: 100%;
        display: inline-grid;
        justify-content: center;
        
    }
  }